
<div class="container">
  <div class="col-12">
    <%= link_to "Add new product", new_category_product_path(@category), class: "btn btn-primary float-end" %>
  </div>
  <div class="col-6">
    <%= @category.name %>
    <p><%= simple_format @category.description %></p>
    <% @products.each do |product| %>
      <p><%= link_to product.title, category_product_path(@category, product) %> | unit price of <%= number_to_currency(product.price) %></p>
      <p>
        <%= button_to "Add to cart", line_items_path(:product_id => product.id), class: "btn btn-secondary" %>
      </p>      
    <% end %>
  </div>
</div>