<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
      <div class="float-end">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            Account: <b class="text-uppercase"><%= current_user.role %></b>. There are <%= User.count %>  users in the system.</p>
          <% end %>        
          <div class="dropdown show float-end">
            <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hello <%= current_user.username %>!
            </a>
            <%= link_to "CART " + number_to_currency(@current_cart.sub_total) , cart_path(@current_cart), class: "btn btn-primary" %>      
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">        
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %> 
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>          
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
          <% end %>         
      </div>
      <p class="h3"><%= link_to "CRIZZY", root_path %></p>
    <nav class="navbar navbar-expand-lg">
      <%= link_to "CATEGORIES", categories_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% all_categories.each do |category| %> 
            <%= link_to category.name, category_path(category), class: "nav-item nav-link active" %><span class="sr-only">(current)</span>
          <% end %>
            <%= link_to "View all", categories_path, class: "nav-item nav-link active" %>
        </div>
      </div>
    </nav>
      </div>
    </div>
    </div>
  </div>
</div>